# close telnet C-] & quit.
alias starwars="telnet towel.blinkenlights.nl"

# mac applications
alias chrome='open -a /Applications/Google\ Chrome.app --args -incognito'
alias chrome='open -a /Applications/Google\ Chrome\ Canary.app --args -incognito'
alias firefox='open -a /Applications/Firefox.app'
alias safari='open -a /Applications/Safari.app'

# shell
alias diff='colordiff'
alias less='less -R'
alias ls='ls -G'
alias gq='cd $(ghq list -p | fzf)'
alias f='fzf --preview "bat --color=always --style=header,grid --line-range :100 {}"'
alias batd="bat -l diff"
alias batf='bat $(fzf)'
alias rgn='rg -S --hidden --no-heading'

# exa
alias exa='exa -ahl'
alias exat="exa -T --ignore-glob '.git|node_modules'"

# git
alias g="git"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
alias gla="git log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"

#k8s
alias k='kubectl'

#docker
alias dk='docker'

#tmux
alias tn='tmux new'
alias ta='tmux attach'
