set surround

" 検索するときに大文字小文字を区別しない
set ignorecase

" 対応する括弧を強調表示
set showmatch

" ヤンクでクリップボードにコピー
set clipboard+=unnamed

" ウィンドウの右下にまだ実行していない入力中のコマンドを表示
set showcmd

" 検索時に大文字を含んでいたら大/小を区別
set smartcasD0

" ヤンクでクリップボードにコピー
set clipboard+=unnamed

" 行をまたいで移動
set whichwrap=b,s,h,l,<,>,[,],~

" Escの2回押しでハイライト消去
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>

" search on
set incsearch

"Highlight search result
set hlsearch

" Reload
nnoremap <space>re :source ~/.ideavimrc<cr>

" Build & Run
nnoremap <space>rr :action Run<cr>
nnoremap <space>cc :action CleanGradleProject<cr>

" Debug
nnoremap <space>dd :action Debug<cr>
nnoremap <space>tb :action ToggleLineBreakpoint<cr>
nnoremap <space>only :action CloseAllEditorsButActive<cr>
nnoremap <space>clear :action CloseAllEditors<cr>

" Window
nnoremap <space>sp :action SplitVertically<cr>
nnoremap <space>hsp :action SplitHorizontally<cr>
nnoremap <space>vsp :action SplitVertically<cr>

" Git
nnoremap <space>lh :action LocalHistory.ShowHistory<cr>
nnoremap <space>vc :action Vcs.Show.Local.Changes<cr>
nnoremap <space>vp :action Vcs.QuickListPopupAction<cr>
nnoremap <space>va :action Annotate<cr>
nnoremap <space>vl :action Vcs.Show.Log<cr>
nnoremap <space>cv :action Compare.LastVersion<cr>

" Refactor
nnoremap <space>rq :action Refactorings.QuickListPopupAction<cr>
nnoremap <space>rc :action ReformatCode<cr>
nnoremap <space>ic :action InspectCode<cr>
nnoremap <space>em :action ExtractMethod<cr>
nnoremap <space>rn :action RenameElement<cr>
nnoremap <space>rf :action RenameFile<cr>
nnoremap <space>iv :action IntroduceVariable<cr>
nnoremap <space>ex :action ExtractSuperclass<cr>
nnoremap <space>ai :action Inline<cr>

" Tool
nnoremap <space>fp :action FindInPath<cr>
nnoremap <space>fu :action FindUsages<cr>
nnoremap <space>su :action ShowUsages<cr>
nnoremap <space>ga :action GotoAction<cr>
nnoremap <space>sh :action ActivateTerminalToolWindow<cr>
nnoremap <space>td :action ActivateTODOToolWindow<cr>
nnoremap <space>dp :action QuickList.Deployment<cr>
nnoremap [e :action GotoNextError<cr>
nnoremap ]e :action GotoPreviousError<cr>
